.footer {
    margin-inline: auto;
    margin: calc(var(--size) * 2);
    margin-inline: auto;
    padding: var(--size);
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    color: rgba(var(--gray-12), 1);
    gap: var(--size);
}

.logo {
    display: flex;
    justify-content: center;
}

@media (max-width: 1024px) {
    .content {
        flex-direction: row;
    }
}