.navbar {
    max-width: 1400px;
    padding: var(--size);
    display: flex;
    gap: var(--size);
    justify-content: space-between;
    align-items: center;
}

.title {
    color: rgba(var(--gray-12), 1);
    font-size: var(--size);
}

.content {
    display: flex;
    gap: var(--size);
    align-items: center;
}

.separator {
    color: rgba(var(--gray-12), 1);
    min-width: var(--size);
    min-height: 1px;
}

.mobileMenu {
    background-color: rgba(var(--amber-12), 0.05);
    border: 1px solid rgba(var(--amber-10), 0.05);
    color: rgba(var(--amber-1), 1);
    display: flex;
    flex-direction: column;
    gap: var(--size);
    padding: var(--size);
    border-radius: 0 0 var(--radius) var(--radius);
    margin: calc(var(--size) * -1) calc(var(--size) * -1) 0 calc(var(--size) * -1);
}

.separatorContainer {
    background-color: rgba(var(--amber-12), 1);
}