.signUpForm {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 0;
    background-color: rgba(var(--amber-12), 0.05);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 0;
    opacity: 0;
    transition: height 0ms 400ms, opacity 400ms 0ms;
}

.visible {
    height: 100vh; opacity: 1;
    transition: height 0ms 0ms, opacity 400ms 0ms;
}

.signUpFormModal {
    background-color: rgba(var(--amber-1), 1);
    color: rgba(var(--gray-12), 1);
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: var(--size);
    border-radius: var(--radius);
    width: auto;
    border: 1px solid rgba(var(--amber-10), 0.05);
}

.titleBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: var(--size);
    font-size: var(--size);
}

.closeButton {
    cursor: pointer;
}

.contentTitle {
    font-family: 'Sora';
    font-size: calc(var(--size) * 1.5);
    padding-bottom: var(--size);
}

.contentDesc {
    font-size: var(--size);
    padding-bottom: var(--size);
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--size);
}

.field {
    flex: 1;
    background-color: rgba(var(--amber-12), 0.05);
    border: 1px solid rgba(var(--amber-10), 0.05);
    padding: var(--size);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    gap: var(--size);
}

.fieldTitle {
    display: flex;
    gap: calc(var(--size) * 0.5);
    color: rgba(var(--gray-12), 1);
    font-size: var(--size);
}

.input {
    line-height: calc(var(--size) * 1.5);
    flex: 1;
    border-radius: var(--radius);
    padding: calc(var(--size) * 0.5) var(--size) calc(var(--size) * 0.5) var(--size);
    font-size: var(--size);
    outline: none;
    border: none;
    width: none;
    height: none;
    color: rgba(var(--gray-12), 1);
    background-color: rgba(var(--amber-1), 1);
    resize: none;
    transition-duration: 100ms;
}

.input:focus {
    background-color: rgba(var(--amber-12), 0.1);
}

.inputButton {
    margin: 0;
    padding: 0;
    color: none;
    background-color: rgba(var(--amber-1), 1);
    border: none;
    outline: none;
}

.textArea {
    min-height: calc(var(--size) * 10);
}

.row {
    display: flex;
    flex-direction: row;
    gap: var(--size);
}

.bottomRow {
    display: flex;
    color: rgba(var(--gray-12), 1);
    align-items: center;
    gap: var(--size);
}

@media (max-width: 1024px) {
    .signUpFormModal {
        margin: var(--size);
    }

    .row {
        flex-direction: column;
    }

    .bottomRow {
        flex-direction: column;
        justify-content: left;
    }
}