.oneStat {
    color: rgba(var(--gray-12), 1);
    background-color: rgba(var(--amber-12), 0.05);
    border: 1px solid rgba(var(--amber-10), 0.05);
    border-radius: var(--radius);
    padding: var(--size);
    display: flex;
    flex-direction: column;
    gap: var(--size);
}

.space_between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.dot {
    height: calc(var(--size)/1.8);
    width:  calc(var(--size)/1.8);
    border-radius: 1000px;
    background-color: rgba(var(--color), 1);
    margin-top: 6px;
}