.status {
    margin: auto;
    padding: var(--size);
    max-width: 1400px;
    font-size: var(--size);
    display: flex;
    border-radius: var(--radius);
    flex-direction: column;
    gap: var(--size);
}

.statusDiv {
    display: flex;
    flex-direction: row;
    gap: var(--size);
}

.statusDiv > * {
    display: flex;
    flex-direction: column;
    gap: var(--size);
    justify-self: stretch;
    width: 100%;
}   